ion-tabs {

  &.tabs {

    .tabbar {
      background: $toolbar-background;
    }

    .tab-button .tab-button-icon,
    .tab-button[aria-selected=true] .tab-button-icon {
      color: color($colors, 'secondary');
    }
    .tab-button-text {
      display: none;
    }

    .tab-button[aria-selected=true] {
      color: color($colors, 'secondary');
      .tab-button-text {
        display: block;
      }
    }

    &[tabsHighlight=true] .tab-highlight {
      background: color($colors, 'secondary');
    }
  }
}