<ion-header>
  <ion-navbar>
    <ion-title>
      <!--<img class="logo" src="assets/images/logo/faubourg-simone-logo-ios@2x.png"/>-->
      <span ion-text color="secondary" text-uppercase>Dans Le Casque</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>

    <ion-card *ngFor="let casque of casques" no-padding margin-bottom>
      <ion-card-content (click)="navToCasque(casque.id)">
        <img no-padding src="{{casque.thumbnail}}"/>
        <h1 ion-text color="verylight" class="card-title" no-margin>
          <span class="title" text-uppercase [innerHTML] = casque.artist></span>
          <span class="subtitle" text-capitalize [innerHTML] = casque.title (click)="navToCasque(casque.id)"></span>
        </h1>
      </ion-card-content>
      <ion-note>{{casque.date | date:'shortDate'}}</ion-note>

      <p ion-text color="primary" class="card-excerpt" padding margin-top [innerHTML] = casque.excerpt (click)="navToCasque(casque.id)"></p>
      <!--<p color="foggy-gray" padding-horizontal padding-top>{{casque.date | date:'shortDate'}}</p>-->


      <ion-row no-padding>
        <ion-col no-padding>
          <button ion-button clear small color="secondary" icon-left>
            <a ion-text color="secondary" *ngIf="casque.preview" href="{{casque.preview}}" target="_blank">
              <ion-icon name='musical-notes'></ion-icon>
              Listen
            </a>
          </button>
        </ion-col>
        <ion-col text-center no-padding>
          <button *ngIf="casque.buyLink" ion-button clear small color="secondary" icon-left>
            <a ion-text color="secondary" href="{{casque.buyLink}}" target="_blank">
              <ion-icon name='logo-euro'></ion-icon>
              Buy
            </a>
          </button>
        </ion-col>
        <ion-col text-right no-padding>
          <button ion-button clear small color="secondary" icon-left (click)="onShareClick(casque)">
            <ion-icon name='share-alt'></ion-icon>
            Share
          </button>
        </ion-col>
      </ion-row>

    </ion-card>


  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
