page-casques {
  .content {
    background: color($colors, 'pampas');
  }

  ion-card {
    width: 100%;

  }
  ion-card-content.card-content {
    position: relative;
    padding: 0;

    ion-row {
      align-items: center;
      justify-content: center;
    }
    img {
      width: 100%;
      margin: 0 auto;
    }

    .note {
      font-size: 1rem;
    }
  }

  .card-title {
    .title {
      font-size: 1.8rem;
      display: block;
    }
    .subtitle {
      font-size: 1.4rem;
      display: block;
    }
  }
  .card-excerpt,
  .card-excerpt * {
    color: color($colors, 'primary');
  }



  button a {
    text-decoration: none;
  }

}
