page-calepin {
  article img {
    height: auto;
  }
  .ion-title-header {
    font-size: 1.5rem;
  }

  .article-content,
  .article-content * {
    color: color($colors, 'primary');
  }


  .article-content {
    border-bottom: 1px solid color($colors, 'foggy-gray');
    .aligncenter {
      display: block;
      margin: 0 auto;
    }
    hr {
      height: 1px;
      background: color($colors, 'foggy-gray');
    }
    iframe,
    figure,
    .wp-caption {
      width: 100%!important;
      height: auto;
    }
  }



  ion-icon {
    display: block;
    text-align: center;
    margin-top: 1rem;
    &[name="link"]:before {
      vertical-align: middle;
    }
    span {
      font-family: $font-family-base;
      font-size: 1.5rem;
    }
    a {
      text-decoration: none;
      font-size: 1rem;
    }
  }
}
