share-button {
  display: inline-block;

  .button {
    position: relative;
    color: color($colors, 'secondary');

    ion-icon {
      font-size: 1.4rem;
      color: color($colors, 'secondary');
    }
  }

  &[icon-only] .button {
    width: 26px;
    height: 26px;
  }


  &[border] .button {
    border-radius: 13px;
    border: 1px solid color($colors, 'secondary');
  }

  //&[icon-only] .button ion-icon {
  //  padding: 0 .5em;
  //  line-height: .67;
  //  pointer-events: none;
  //}

}
