page-pola,
page-radio,
page-calepins,
page-casque {
  ion-header {
    .logo {
      display: block;
      width: 140px;
      float: left;
    }
    .toggle-buttons {
      margin-top: 22px;

      .spinner {
        padding-left: 50px;
        color: color($colors, "secondary");
      }

    }
  }
}
