page-pola,
page-radio,
page-calepins,
page-casques,
page-concerts {

  .logo {
    display: inline-block;
    width: 7rem;
    vertical-align: middle;
  }

  .toolbar-title {
    position: absolute;
    left: 1rem;
    padding: 0;
  }

  .header-radio {
    display: flex;
    align-items: center;
  }

  .ion-title-header {
    font-size: 1.6rem;
  }

  //ion-header {
  //
  //  .toolbar {
  //    min-height: 84px!important;
  //  }
  //
  //  .title {
  //    width: 100%;
  //    padding: 0;
  //    height: 84px!important;
  //    max-height: none;
  //  }
  //
  //  .toolbar-title {
  //    min-height: 61px;
  //    text-align: left;
  //  }
  //
  //  .logo {
  //    position: relative;
  //    vertical-align: middle;
  //    margin: 0 10px;
  //
  //    display: inline-block;
  //    width: 6rem;
  //  }
  //}
}
