page-pola,
page-radio,
page-calepins,
page-casques,
page-casque {

  ion-header {

    .toolbar {
      min-height: 110px!important;
    }

    .title {
      width: 100%;
      padding: 0;
      height: 110px!important;
      max-height: none;
    }

    .toolbar-title {
      min-height: 123px;
      text-align: left;
    }

    .logo {
      width: 120px;
      position: relative;
      top: 30px;
      margin: 0 20px;
    }
  }
}
