page-radio {
  .logo {
    width: 160px;
    float: left;
  }
  .toggle-buttons {
    margin-top: 22px;
  }
  .cover {
    width: 180px;
    display: block;
    margin: 4rem auto 2rem auto;
  }

  .current-song {
    font-weight: bold;
  }

  //ion-card .item-ios ion-icon[item-left] + .item-inner,
  ion-card .item-md ion-icon[item-left] + .item-inner {
    margin-left: 10px;
  }
  ion-card .item-ios ion-icon[item-left] + .item-inner {
    margin-left: 0px;
  }

  ion-card ion-icon {
    color: color($colors, "primary");
  }

  .spinner {
    padding-left: 50px;
  }

}
