page-radio {

  .radio-page-classic {

    ion-card {
      margin-top: 2rem!important;
    }

    .list-header-md {
      border-bottom: 0.55px solid #c8c7cc!important;
      font-weight: 500!important;
      letter-spacing: 0.1rem!important;
      color: #333!important;
      background: transparent!important;
    }
    .cover {
      width: 180px;
      display: block;
      margin: 4rem auto 2rem auto;
    }

    .current-song {
      border-top: 1px solid color($colors, "primary");
      border-bottom: 1px solid color($colors, "primary");
      margin-top: 0px!important;
      padding: 1rem 0;
      text-align: center;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 1.6rem;
      margin-bottom: 1.2rem!important;
    }


    .toggle-buttons {
      //margin-top: 22px;
      .spinner {
        padding-left: 50px;
        ion-icon {
          //todo : pas pris en compte wtf
          color: color($colors, "secondary");
        }
      }
    }

    .last-songs {
      margin-top: 2rem;
      h3, h4 {
        margin-top: 0!important;
      }
      h3 {
        font-weight: bold!important;
      }
    }
  }




  ////////////////////////////////////
  .radio-page-cover {

    &.content {
      background: color($colors, 'pampas');
    }

    .cover {
      width: 100%;
    }
    .meta-info {
      background: #fff;
      position: relative;
      width: 94%;
      margin: 0 auto;
      position: relative;
      top: -3rem;
      //border: 2px solid color($colors, 'secondary');
      //box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
      box-shadow:0px 1px 10px 2px rgba(206, 204, 191, 0.5);
      //box-shadow: 0px 0px 4px 1px rgba(19, 90, 118, 0.4);
    }

    .artist {
      font-weight: bold;
      font-size: 1.6rem;
      width: 80%;
      padding-bottom: 0.5rem;
      color: color($colors, 'secondary');
    }
    .track {
      color: color($colors, 'secondary');
      font-size: 1.4rem;
      width: 80%;
    }

    .btn-share {
      position: relative;
      margin: 0 0 0 15px;
      width: 26px;
      height: 26px;
      border: 1px solid color($colors, 'secondary');
      border-radius: 13px;
      ion-icon {
        font-size: 1.4rem;
        color: color($colors, 'secondary')!important;

      }
    }

    .btn-last {
      position: relative;
      margin: 0 0 0 15px;
      width: 28px;
      height: 28px;
      ion-icon {
        font-size: 3.3rem;
      }
    }

    .label-now-playing {
      background: #fff;
      color: color($colors, 'danger');
      font-size: 1rem;
      display: inline-block;
      font-weight: bold;
      //line-height: 1rem;
      padding: 0.5rem;
      position: absolute;
      top: -2.4rem;
      height: 2.2rem;
      left: 0;
    }

    .toggle-buttons {

      position: absolute;
      top: -34px;
      right: 28px;

      .btn-play-pause {
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
        width:60px;
        height:60px;
        padding: 0;
        &[color="verylight"] {
          background: color($colors, 'verylight');
          ion-icon {
            color: color($colors, 'secondary')!important;
          }
        }
        &[color="secondary"] {
          background: color($colors, 'secondary');
          ion-icon {
            color: color($colors, 'verylight')!important;
          }
        }
        ion-icon {
          font-size: 3rem;
        }
      }
    }
  }
}
