<!--<ion-header>-->
    <!--<ion-navbar>-->
        <!--<ion-title>-->
            <!--&lt;!&ndash;<img class="logo" src="assets/images/logo/faubourg-simone-logo-ios@2x.png"/>&ndash;&gt;-->
            <!--<span color="secondary" text-uppercase>La radio</span>-->
        <!--</ion-title>-->
    <!--</ion-navbar>-->
<!--</ion-header>-->



<ion-content class="radio-page-cover" no-padding>
    <img no-padding no-margin class="cover" src="{{currentSong.cover_url}}"/>
    <div class="meta-info" padding>
        <span class="label-now-playing" color="secondary" text-uppercase><span class="txt"><span>•&nbsp;</span> En ce moment</span></span>
        <ion-row class="toggle-buttons" justify-content-center>
            <button class="btn-play-pause" ion-button round icon-only
                    color="secondary"
                    *ngIf="isButtonActive && playerReady"
                    (click)="togglePlayPause()">
                <ion-icon [name]="playPauseButton"></ion-icon>
            </button>
            <button class="btn-play-pause" ion-button round icon-only
                    color="secondary"
                    *ngIf="!isButtonActive">
                <ion-spinner name="dots" *ngIf="!isButtonActive"></ion-spinner>
            </button>
        </ion-row>
        <h1 class="artist" color="primary" text-uppercase no-margin padding-horizontal><span>{{currentSong.artist}}</span></h1>
        <h2 class="track" color="primary" text-capitalize padding-horizontal><span>{{currentSong.track}}</span></h2>
        <!--<button class="btn-last" clear ion-button small color="secondary" icon-only>-->
            <!--<ion-icon name='ios-disc-outline'></ion-icon>-->
        <!--</button>-->
        <button class="btn-share" clear ion-button small color="secondary" icon-only>
            <ion-icon name='share-alt'></ion-icon>
        </button>
    </div>



    <ion-list class="last-songs" no-margin>
        <ion-list-header no-margin no-border>
            <h3 color="primary" no-margin no-padding text-uppercase>Derniers morceaux: </h3>
        </ion-list-header>
        <ion-item class="last-song-item" *ngFor="let song of lastSongs" text-wrap>
            <ion-thumbnail item-left>
                <img src={{song.cover_url}}>
            </ion-thumbnail>
            <h4 color="primary" no-margin no-padding text-uppercase="">{{song.artist}}</h4>
            <p no-margin no-padding color="primary">{{song.track}}</p>
            <!--<button ion-button clear item-right>See More</button>-->
        </ion-item>
    </ion-list>

</ion-content>
