@-webkit-keyframes opacity {
  0%, 100% {opacity:0.05;}
  50% {opacity:1;}
}

page-radio {

  .header-image {
    height: 100vw;
    background: color($colors, 'verylight');
    img.animated {
      animation:spin $speed-cover linear infinite;
      border-radius: 50%;
    }
  }

  .main-content {
    width: 100%;
  }

  .radio-page-cover {

    &.content {
      background: color($colors, 'pampas');
    }

    .cover {
      width: 100%;
      //margin-top: 2rem;
    }
    .meta-info {
      background: #fff;
      position: relative;
      width: 94%;
      margin: 0 auto;
      position: relative;
      top: -4rem;
      //border: 2px solid color($colors, 'secondary');
      //box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
      box-shadow:0px 1px 10px 2px rgba(206, 204, 191, 0.5);
      //box-shadow: 0px 0px 4px 1px rgba(19, 90, 118, 0.4);
    }

    .artist {
      font-weight: bold;
      font-size: 1.6rem;
      width: 80%;
      padding-bottom: 0.5rem;
      color: color($colors, 'secondary');
    }
    .track {
      color: color($colors, 'secondary');
      font-size: 1.4rem;
      width: 80%;
    }

    share-button {
      &.hidden {
        display: none;
      }
      .button {
        margin: 0 0 0 15px;
      }
    }

    .btn-last {
      position: relative;
      margin: 0 0 0 15px;
      width: 30px;
      height: 30px;
      ion-icon {
        font-size: 3.3rem;
      }
    }


    .label-now-playing {
      &.hidden {
        display: none;
      }
      background: #fff;
      color: color($colors, 'danger');
      font-size: 1rem;
      display: inline-block;
      font-weight: bold;
      //line-height: 1rem;
      padding: 0.5rem;
      position: absolute;
      top: -2.4rem;
      height: 2.2rem;
      left: 0;
      .txt {
        -webkit-animation-name: opacity;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        animation-name: opacity;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
    }

    .toggle-buttons {


      position: absolute;
      top: -3rem;
      right: 2rem;

      .btn-play-pause {
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
        width:60px;
        height:60px;
        padding: 0;
        &[color="verylight"] {
          background: color($colors, 'verylight');
          ion-icon {
            color: color($colors, 'secondary')!important;
          }
        }
        &[color="secondary"] {
          background: color($colors, 'secondary');
          ion-icon {
            color: color($colors, 'verylight')!important;
          }
        }
        ion-icon {
          font-size: 3rem;
        }
      }

      //.btn-container {
      //  position: relative;
      //
      //  &.playing .play-button {
      //    background: none!important;
      //  }
      //
      //  &.playing .play-button .mdi-play,
      //  &.paused .play-button .mdi-pause,
      //  &.paused .lp-background {
      //    // opacity: 0;
      //    display: none;
      //  }
      //
      //  .play-button {
      //    position: relative;
      //    width: 60px;
      //    height: 60px;
      //    border-radius: 50%;
      //    box-shadow: 0 3px 20px 0 rgba(0,0,0,0.35);
      //    text-align: center;
      //
      //    display: flex;
      //    justify-content: center;
      //    align-items: center;
      //
      //    &[color="verylight"] {
      //      background: color($colors, 'verylight');
      //      ion-icon {
      //        color: color($colors, 'secondary')!important;
      //      }
      //    }
      //    &[color="secondary"] {
      //      background: color($colors, 'secondary');
      //      ion-icon {
      //        color: color($colors, 'verylight')!important;
      //      }
      //    }
      //
      //    ion-spinner {
      //      z-index: 2;
      //      &.spinner-dots circle {
      //        fill: color($colors, 'verylight') !important;
      //      }
      //    }
      //
      //    ion-icon {
      //      //position: absolute;
      //      z-index: 2;
      //      &.playing {
      //        font-size: 1.5rem;
      //      }
      //
      //      &.paused {
      //        margin-left: 0.4rem;
      //        font-size: 3rem;
      //      }
      //    }
      //
      //    .lp-background {
      //      transition: all .35s ease;
      //      background: url("../assets/images/vinyl-blue.png");
      //      background-size: cover;
      //      animation: spin $speed-vinyl infinite linear;
      //      width: 100%;
      //      height: 100%;
      //      z-index: 1;
      //      position: absolute;
      //    }
      //
      //  }
      //}
      @keyframes spin {
        0%  {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }


    .last-songs {

      ion-thumbnail img {
        border: 1px solid #c8c7cc;
      }

      ion-list-header {
        border:none;
        background: color($colors, 'carrara');
      }

      ion-item {
        background: color($colors, 'westar');
      }
      h3 {
        font-weight: bold!important;
      }
    }
  }
}





