<!--<ion-header>-->
  <!--<ion-navbar>-->
    <!--<ion-title>Faubourg Simone</ion-title>-->
  <!--</ion-navbar>-->
<!--</ion-header>-->

<ion-content padding>


    <img class="logo" src="assets/images/logo/faubourg-simone-logo-ios@2x.png"/>

    <ion-row class="toggle-buttons" align-items-center>
        <button style="padding: 0; width: 44px;  height: 44px;" ion-button round color="primary" icon-only (click)="togglePlayPause()" *ngIf="isButtonActive">
            <ion-icon [name]="playPauseButton"></ion-icon>
        </button>

        <button ion-button round outline style="padding: 0; width: 44px; height: 44px;" *ngIf="!isButtonActive">
            <ion-spinner name="dots" color="primary" *ngIf="!isButtonActive"></ion-spinner>
        </button>
    </ion-row>

    <ion-card>

        <img class="cover" src="{{currentSong.cover_url}}"/>

        <ion-item no-margin>
            <ion-icon no-margin name='people' item-left></ion-icon>{{currentSong.artist}}
        </ion-item>
        <ion-item no-margin>
            <ion-icon no-margin name='musical-notes' item-left></ion-icon>{{currentSong.track}}
        </ion-item>


    </ion-card>

</ion-content>
