<ion-header>
  <ion-navbar><ion-title><span ion-text text-wrap class="ion-title-header" color="secondary">Article Dans Le Casque</span></ion-title></ion-navbar>
</ion-header>

<ion-content padding class="single-article-page">
  <div *ngIf="casque">

    <h1 ion-text color="primary" [innerHTML] = casque.title></h1>
    <h2 ion-text color="primary" [innerHTML] = casque.artist></h2>

    <article ion-text class="article-content" color="primary" [innerHTML] = casque.content></article>

    <ion-row class="meta" padding-vertical>
      <ion-col no-padding text-left>
        <ion-icon ion-text name="calendar" icon-left color="foggy-gray">
          <span>{{casque.date | date:'longDate'}}</span>
        </ion-icon>
      </ion-col>
      <ion-col no-padding text-right>
        <ion-icon ion-text name="link" icon-left color="foggy-gray">
          <span><a (click)="onExternalLink()" ion-text color="foggy-gray">Consulter l'article sur le site</a></span>
        </ion-icon>
      </ion-col>
    </ion-row>


    <ion-row no-padding padding-horizontal class="audio-links">
      <ion-col text-left no-padding>
        <button ion-button clear small color="secondary" icon-left no-padding>
          <a ion-text color="secondary" *ngIf="casque.preview" (click)="onPreviewLink(casque.preview)">
            <ion-icon name='musical-notes'></ion-icon>
            Listen
          </a>
        </button>
      </ion-col>
      <ion-col text-center no-padding>
        <button *ngIf="casque.buyLink" ion-button clear small color="secondary" icon-left no-padding>
          <a ion-text color="secondary" (click)="onBuyLink(casque.buyLink)">
            <ion-icon name='logo-euro'></ion-icon>
            Buy
          </a>
        </button>
      </ion-col>
      <ion-col text-right no-padding>
        <share-button class="casque"
                      [options]="casque.shareOptions"
                      [trackingOptions]="{category:'Partager un casque', action:'Partager', label:casque.permalink}"
                      [hasLabel] = true
                      icon-left small>
        </share-button>
      </ion-col>
    </ion-row>

  </div>
</ion-content>
