<ion-header>
  <ion-navbar>
    <ion-title>
      <!--<img class="logo" src="assets/images/logo/faubourg-simone-logo-ios@2x.png"/>-->
      <span ion-text color="secondary" text-uppercase>Les polas du jour</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- to get different behaviors use (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)"  -->
  <div swing-stack [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)" id="card-stack" [class]="stackStyle">
    <ion-card swing-card *ngFor="let card of cards" class="td-card">
      <ion-item *ngIf="card.image">
        <img *ngIf="card.image" [src]="card.image">
      </ion-item>
      <ion-card-content *ngIf="card.date">
        <h2 ion-text class="title" text-wrap text-uppercase color="primary">{{ card.title }}</h2>
        <h3 ion-text class="date" text-uppercase color="foggy-gray">{{ card.date | date:'longDate'}}</h3>
        <share-button class="pola"
                      [options]="cards[cards.length-1].shareOptions"
                      [trackingOptions]="{category:'Partager un pola', action:'Partager', label:cards[cards.length-1].permalink}"
                      icon-only>
        </share-button>

      </ion-card-content>
    </ion-card>
  </div>

  <ion-footer no-border no-lines="">
    <div class="pola-footer" no-margin>
      <button id="swipe_dislike" class="rate" (click)="voteUp(false)">
        <ion-icon class="rate-down" icon-only name="thumbs-down"></ion-icon>
      </button>

      <button id="swipe_like" class="rate" (click)="voteUp(true)">
        <ion-icon class="rate-up" icon-only name="thumbs-up"></ion-icon>
      </button>
    </div>
  </ion-footer>

</ion-content>


