page-calepins {
  //.list-title {
  //  font-size: 2rem;
  //}

  .item {
    padding-left: 8px;

    ion-avatar[item-left] {
      //margin-right: 8px;

      img {
        width: 95px;
        height: 95px;
      }
    }
  }

  .label .item-title {
    font-size: 1.6rem;
    margin-top: 0;
  }

  .item-subtitle {
    font-size: 1.4rem;
  }

  ion-note {
    font-size: 1.2rem;
    align-self: flex-start;
    margin-top: 0;
  }

}
