main-header {
  .menu-button {
    position: absolute;
  }
  .logo {
    display: inline-block;
    width: 7rem;
    vertical-align: middle;
  }
  .toolbar-title {
    position: absolute;
    left: 0;
  }
}
